
<div class="section transp shadow donations-thankyou padding-50">
    <fieldset>
        <legend>@Resources.Donations.Labels.DonateNow</legend>

        @if (User.Identity.IsAuthenticated) {
        <div style="font-size:1.1em">
            <div style="float:left;margin-right:20px">                
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" id="userId" value="@ViewBag.UserId" />
                    <!-- Identify your business so that you can collect the payments. -->
                    <input type="hidden" name="business" value="donations@august2008.org">
                    <!-- Specify a Donate button. -->
                    <input type="hidden" name="cmd" value="_donations">
                    <!-- Specify details about the contribution -->
                    <input type="hidden" name="item_name" value="@Resources.Donations.Strings.ThankYou">
                    <input type="hidden" name="return" value="@Url.Action("PayPal", null, null, HttpContext.Current.Request.Url.Scheme)"/>
                    <input type="hidden" name="notify_url" value="http://98.221.24.73/Donations/PayPalDonationIpn"/>
                    <input type="hidden" name="cancel_return" value="@Url.Action("Cancel", null, new {provider = DonationProvider.PayPal}, HttpContext.Current.Request.Url.Scheme)"/>
                    <input type="hidden" name="rm" value="2"/>
                    <input type="hidden" name="item_number" value='{ "UserId": "@ViewBag.UserId", "Amount": "5.00"}'> 
                    <select name="amount" id="amount" style="height:85px !important;width:90px;font-size:15px;padding-top:30px;padding-bottom:30px">
                        <option value="1.00">$1.00</option>    
                        <option value="5.00" selected>$5.00</option>
                        <option value="10.00">$10.00</option>
                        <option value="15.00">$15.00</option>
                        <option value="25.00">$25.00</option>
                        <option value="50.00">$50.00</option>
                        <option value="">@Resources.Donations.Labels.Other</option>
                    </select>
                    <input type="hidden" name="currency_code" value="USD">
                    <!-- Display the payment button. -->
                    <button type="submit" name="submit" class="btn btn-large btn-paypal"></button>
                </form>
            </div>
            <div style="overflow:hidden;height:73px;border:dashed 1px #E5E5E5;padding:5px">
                @Resources.Donations.Strings.ChooseAndDonate
            </div>
            <div style="width:100%;clear:both;border-top:dashed 1px #E5E5E5;padding:10px;margin-top:17px">
                @Html.Raw(Resources.Donations.Strings.AboutPayPal)
            </div>
        </div>
        }
        else {
            <p style="white-space:pre-line;font-size:1.1em;margin:0">
                @Html.Raw(string.Format(Resources.Donations.Strings.YouMustBeRegistered, @Url.Action("Login", "Account", new { returnUrl = Request.Url.PathAndQuery })))
            </p>
        }
    </fieldset>
</div>
<script>
    $(document).ready(function () {
        $('#amount').change(function () {
            $('input[name=item_number]').val(JSON.stringify(
                {
                    UserId: $('#userId').val(),
                    Amount: $('#amount').val()
                }
            ));
        });
    });
</script>
