
<div class="section transp shadow donations-thankyou padding-50">
    <fieldset>
        <legend>@Resources.Donations.Labels.DonateNow</legend>
        <div style="font-size:1.1em">
            <div style="float:left;margin-right:20px">                
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <!-- Identify your business so that you can collect the payments. -->
                    <input type="hidden" name="business" value="davidlars99@gmail.com">
                    <!-- Specify a Donate button. -->
                    <input type="hidden" name="cmd" value="_donations">
                    <!-- Specify details about the contribution -->
                    <input type="hidden" name="item_name" value="@Resources.Donations.Strings.ThankYou1">
                    <input type="hidden" name="return" value="@Url.Action("PayPal", null, null, HttpContext.Current.Request.Url.Scheme)"/>
                    <input type="hidden" name="cancel_return" value="@Url.Action("Cancel", null, new {provider = DonationProvider.PayPal}, HttpContext.Current.Request.Url.Scheme)"/>
                    <input type="hidden" name="rm" value="2"/>
                    <input type="hidden" name="item_number" value="5.00"> 
                    <select name="amount" onchange="$('input[name=item_number]').val($(this).val())" style="height:85px;width:120px;font-size:25px;">
                        <option value="1.00">$1.00</option>    
                        <option value="5.00" selected>$5.00</option>
                        <option value="10.00">$10.00</option>
                        <option value="15.00">$15.00</option>
                        <option value="25.00">$25.00</option>
                        <option value="50.00">$50.00</option>
                        <option value="">@Resources.Donations.Labels.Other</option>
                    </select>
                    <input type="hidden" name="currency_code" value="USD">
                    <!-- Display the payment button. -->
                    <button type="submit" name="submit" class="btn btn-large btn-paypal"></button>
                </form>
            </div>
            <div style="overflow:hidden;height:73px;border:dashed 1px #E5E5E5;padding:5px">
                @Resources.Donations.Strings.ChooseAndDonate
            </div>
            <div style="width:100%;clear:both;border-top:dashed 1px #E5E5E5;padding:10px;margin-top:17px">
                @Resources.Donations.Strings.AboutPayPal
            </div>
        </div>
    </fieldset>
</div>
