@model DonationSearchModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderStyleSection {
    @Styles.Render("~/content/bingmap")
}
@section HeaderScriptSection {
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    @Scripts.Render("~/bundles/donations")   
    @Scripts.Render("~/bundles/bingmap")
}

@if (Model != null) {
    if (!Model.ConfirmDonation) {
        Html.RenderPartial("DonationsPartial2");
    }
    else {
        Html.RenderPartial("ThankYou");
        <script>
            if (window.history.replaceState) {
                history.replaceState(null, null, '@Url.Action("Index")');
            }
        </script>    
    }
}

<script>
    Donations.init('@Resources.Donations.Strings.CommentPopupTitle')
</script>

<div class="section transp-95 shadow padding-5" style="margin-top:10px" id="gotoMap">
    @Html.Partial("DonationsBingMapPartial")
</div>

<div class="section transp shadow padding-50 donations-jar" style="margin-top:10px" id="gotoArchive">
    <fieldset>
        <legend>@Resources.Donations.Labels.SearchDonations</legend>
        <div>
                @using (Ajax.BeginForm("Search", "Donations", null, new AjaxOptions {
                                                                            HttpMethod = "GET",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            UpdateTargetId = "donationsList",
                                                                            OnBegin = "Spinner.show()",
                                                                            OnComplete = "Spinner.hide();August2008.adjustDimensions();"                                                                            
                                                                        },
                                                                        new { @id = "searchForm", name = "searchForm" }))
                {                    
                    <div class="criteria-field-horizontal">
                        <div class="editor-label">@Html.DisplayNameFor(m => m.Name)</div>
                        <div class="editor-field">@Html.TextBoxFor(m => m.Name, new { @class = "input-medium", tabindex = 0 })</div>
                    </div>
                    <div class="criteria-field-horizontal">
                        <div class="editor-label">@Html.DisplayNameFor(m => m.FromDate)</div>
                        <div class="editor-field">@Html.EditorFor(m => m.FromDate, new { @class = "input-small", tabindex = 1 })</div>
                    </div>
                    <div class="criteria-field-horizontal">
                        <div class="editor-label">@Html.DisplayNameFor(m => m.ToDate)</div>
                        <div class="editor-field">@Html.EditorFor(m => m.ToDate, new { @class = "input-small", tabindex = 2 })</div>
                    </div>
                    <div class="criteria-field-horizontal">
                        <button type="submit" class="btn btn-inverse" id="submitButton" style="margin: 20px 0 0 2px", tabindex="3">
                            @Resources.Global.Labels.Search
                        </button>
                    </div>
                }
        </div>
        <div id="donationsList">
            @Html.Partial("DonationsListPartial", Model.Result)
        </div>
    </fieldset>
</div>
