@model DonationSearchModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("DonationsPartial")

<div class="section transp shadow padding-50 donations-jar" style="margin-top:10px">
    <fieldset>
        <legend>@Resources.Donations.Labels.SearchDonations</legend>
        <div>
                @using (Ajax.BeginForm("Search", "Donations", null, new AjaxOptions {
                                                                            HttpMethod = "GET",
                                                                            InsertionMode = InsertionMode.Replace,
                                                                            UpdateTargetId = "donationsList",
                                                                            OnBegin = "Spinner.show()",
                                                                            OnComplete = "Spinner.hide();August2008.adjustDimensions();"                                                                            
                                                                        },
                                                                        new { @id = "searchForm", name = "searchForm" }))
                {                    
                    <div class="criteria-field-horizontal">
                        <div class="editor-label">@Html.DisplayNameFor(m => m.Name)</div>
                        <div class="editor-field">@Html.TextBoxFor(m => m.Name, new { @class = "input-medium", tabindex = 0 })</div>
                    </div>
                    <div class="criteria-field-horizontal">
                        <div class="editor-label">@Html.DisplayNameFor(m => m.FromDate)</div>
                        <div class="editor-field">@Html.EditorFor(m => m.FromDate, new { @class = "input-small", tabindex = 1 })</div>
                    </div>
                    <div class="criteria-field-horizontal">
                        <div class="editor-label">@Html.DisplayNameFor(m => m.ToDate)</div>
                        <div class="editor-field">@Html.EditorFor(m => m.ToDate, new { @class = "input-small", tabindex = 2 })</div>
                    </div>
                    <div class="criteria-field-horizontal">
                        <button type="submit" class="btn btn-inverse" id="submitButton" style="margin: 20px 0 0 2px", tabindex="3">
                            @Resources.Global.Labels.Search
                        </button>
                    </div>
                }
        </div>
        <div id="donationsList">
            @Html.Partial("DonationsListPartial", Model.Result)
        </div>
    </fieldset>
</div>

@if (!Model.ConfirmDonation.IsNull()) {
    <div id="confirmDonation">
        @Html.Partial("ConfirmPartial", Model.ConfirmDonation)
    </div>
    <script>
        $(document).ready(function () {
            $('#confirmDonation').dialog({
                autoOpen: true,
                modal: true,
                width: 500,                
                title: 'დახმარება მიღებულია'
            });
        });
    </script>    
}

