<div class="section shadow transp">
    <div style="float:left;margin-right:10px">
        <a href="http://www.amazon.com/HERO-ebook/dp/B006O08NE0/ref=cm_sw_em_r_dp2_w5Mbsb085C88G_im" target="_blank">
            <img src="@Url.ImageUrl("hero-book-cover.jpg")" />
        </a>
    </div>
    <div style="overflow:hidden;margin-bottom:5px">
        <span class="hero-about-label">@Resources.Hero.Labels.Author</span>
        <p class="hero-about-text">@Resources.Hero.Strings.TamarPkhakadze</p>
        <a href="http://www.amazon.com/HERO-ebook/dp/B006O08NE0/ref=cm_sw_em_r_dp2_w5Mbsb085C88G_im" target="_blank">
            <img src="@Url.ImageUrl("amazon-logo.png")" />
        </a>
    </div>
    <div style="clear:both;padding:5px">
        @Resources.Hero.Strings.HeroBookThankYou
    </div>
</div>