@model HeroSearchCriteria
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderScriptSection 
{
    @Scripts.Render("~/bundles/hero")
}

<input type="button" id="createButton" value="Create"/>  
    
<div id="hero-list">
    @if (!Model.Result.IsNullOrEmpty()) {
        foreach (var item in Model.Result)  {
            <div class="hero-list-box shadow section transp">
                <div class="hero-list-info">@item.FirstName @item.LastName</div>
                <div class="hero-list-thumb">
                    @if (item.Photos.IsNullOrEmpty()) {
                        <img class="hero-list-img" src="@Url.Action("GetPhoto", "Hero", new {name = item.Photos.First().PhotoUrl, size = PhotoSize.Medium})"/>
                    }
                    else {
                        <div class="hero-list-div">
                            NO IMAGE
                        </div>
                    }
                </div>
                <div class="hero-list-cmd">
                    <a href="#" onclick="$.hero.edit(@item.HeroId);return false;">Edit</a>
                </div>
            </div>                
        }
    }
</div>

@section BottomScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {
            Hero.editAction = '@Url.Action("Edit")';
            Hero.saveAction = '@Url.Action("Save")';
            Hero.deletePhotoAction = '@Url.Action("DeletePhoto")';
            Hero.init();
        });
    </script>
}
