
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection1)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection1)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection1)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection1)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection1)
</div>
