
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection1)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection2)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection3)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection4)
</div>
<div class="text-section transp shadow section-margin">
    @Html.Raw(Resources.Home.Strings.MainSection5)
</div>
