<!DOCTYPE html>
<head>
    <title>We Remember August</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="In memory of Georgian heroes who died in Russia–Georgia War of 2008" />
    <meta name="keywords" content="Russia–Georgia War of 2008; Five-Day War; 2008 South Ossetia Conflict; August War" />
    <meta name="robots" content="index, follow" />
    <meta property="og:image" content="http://august2008.azurewebsites.net/images/logo.png" />
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/august2008")       
    @RenderSection("HeaderScriptSection", false)
</head>
<body>
    <script>
        $(document).ready(function() {
            Spinner.init('@Url.ImageUrl("spinner-1.gif")');
            Security.init('@Url.Action("ManageUsers", "Account")');
        })
    </script>
    <div id="header">
        <div class="menu-container">
            <ul>
                <li>@Html.ActionLink(Labels.Home, "Index", "Home")</li>
                <li>@Html.ActionLink("Mission", "Index", "Home")</li>
                <li>@Html.ActionLink("Donations", "Index", "Donations")</li>
                <li>@Html.ActionLink("Join", "Index", "Home")</li>
                <li>@Html.ActionLink("Heroes", "Index", "Hero")</li>
                <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                <li>@Html.ActionLink("Blog", "Index", "Home")</li>
            </ul>
            <p id="layoutdims">
                <a href="#" id="manageUsersOpener" class="btn btn-small">Manage Users</a>
                <a href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.PathAndQuery })"  class="btn btn-small">Log In</a>
            </p>
        </div>
        <img src="../images/logo-tea-mikaia.png" class="logo-tea-mikaia" />
    </div>
    <div class="colmask threecol">
        <div class="colmid">
            <div class="colleft">
                <div class="col1">
                    @RenderBody()
                </div>
                <div class="col2">
                    @RenderSection("LeftSection", false)
                </div>
                <div class="col3">                    
                    @RenderSection("RightSection", false)
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        @RenderSection("FooterSection", false)      
    </div>
    @RenderSection("BottomScriptSection", false)
</body>
</html>
