<!DOCTYPE html>
<head>
    <title>We Remember August</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="In memory of those Georgian heroes who died in Russia–Georgia War of 2008" />
    <meta name="keywords" content="Russia–Georgia War of 2008; Five-Day War; 2008 South Ossetia Conflict; August War" />
    <meta name="robots" content="index, follow" />
    <meta property="og:image" content="http://august2008.azurewebsites.net/images/logo.png" />
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/security")
    
    @RenderSection("HeaderScriptSection", false)
</head>
<body>
    <div id="header">
        <div class="menu-container">
            <ul>
                <li>@Html.ActionLink(Labels.Home, "Index", "Home")</li>
                <li>@Html.ActionLink("Mission", "Index", "Home")</li>
                <li>@Html.ActionLink("Donations", "Index", "Home")</li>
                <li>@Html.ActionLink("Join", "Index", "Home")</li>
                <li>@Html.ActionLink("Heroes", "Index", "Hero")</li>
                <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                <li>@Html.ActionLink("Blog", "Index", "Home")</li>
            </ul>
            <p id="layoutdims">
                <a href="javascript:void(0)" id="btn-login">Log in</a>
            </p>
        </div>
        <!--<img src="../images/logo.png" class="logo" />-->
    </div>
    <div class="colmask threecol">
        <div class="colmid">
            <div class="colleft">
                <div class="col1">
                    @RenderSection("MainSection", false)
                </div>
                <div class="col2">
                    @RenderSection("LeftSection", false)
                </div>
                <div class="col3">                    
                    @RenderSection("RightSection", false)
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        @RenderSection("FooterSection", false)      
    </div>
    <div id="login-dialog">
        @Html.Partial("Login")
    </div>  
    @RenderSection("BottomScriptSection", false)
</body>
</html>
