<!DOCTYPE html>
<head>
    <title>We Remember August</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="In memory of Georgian heroes who died in Russia–Georgia War of August 2008" />
    <meta name="keywords" content="Russia–Georgia War of 2008; Five-Day War; 2008 South Ossetia Conflict; August War" />
    <meta name="robots" content="index, follow" />
    @RenderSection("Facebook", false)
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/august2008")       
    @RenderSection("HeaderScriptSection", false)
</head>
<body>
    <script>
        $(document).ready(function() {
            Spinner.init('@Url.ImageUrl("spinner-1.gif")');
            Security.init('@Url.Action("ManageUsers", "Account")');
        })
    </script>
    <div id="header">
        <div class="menu-container">
            <ul>
                <li>@Html.ActionMenuItem(Resources.Global.Strings.Home, "Index", "Home")</li>
                <li>@Html.ActionMenuItem(Resources.Global.Strings.Mission, "Mission", "Home")</li>
                <li>@Html.ActionMenuItem(Resources.Global.Strings.Heroes, "Index", "Hero")</li>
                <li>@Html.ActionMenuItem(Resources.Global.Strings.Donations, "Index", "Donations")</li>
                <li>@Html.ActionMenuItem(Resources.Global.Strings.Contact, "Contact", "Home")</li>
                <li>@Html.ActionMenuItem(Resources.Global.Strings.Faq, "Faq", "Home")</li>
            </ul>
            <div id="layoutdims">
                <div id="pageButtonsContainer">
                    @RenderSection("pageButtons", false)
                </div>
                <div id="adminButtonsContainer">
                    @if (User.IsInRole("Admin")) {
                        <a href="#" id="manageUsersOpener" class="btn btn-small">Manage Users</a>
                    }
                    @if (!User.Identity.IsAuthenticated) {
                        <a href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.PathAndQuery })"  class="btn btn-small">Log In</a>
                    } 
                    else {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                            <a href="#" onclick="$(this).closest('form').submit();return false;" class="btn btn-small">Log Off</a>
                        }
                    }
                </div>
            </div>
        </div>
        <img src="@Url.ImageUrl("logo-tea-mikaia.png")" class="logo-tea-mikaia" />
    </div>
    <div id="contentContainer" class="colmask threecol">
        <div class="colmid">
            <div class="colleft">
                <div class="col1">
                    @RenderBody()
                </div>
                <div class="col2">
                    @RenderSection("LeftSection", false)
                </div>
                <div class="col3">                    
                    @RenderSection("RightSection", false)
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        @RenderSection("FooterSection", false)      
    </div>
    @RenderSection("BottomScriptSection", false)
</body>
</html>
