@model List<DonationModel>

@{
    int userId = User.GetUserId();
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>@Resources.Global.Labels.Name</th>
            <th>@Resources.Global.Labels.Amount</th>
            <th>@Resources.Global.Labels.Date</th>
            <th>@Resources.Global.Labels.Message</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.IsNullOrEmpty()) {
            var counter = 1;
            foreach (var item in Model) {
                <tr>
                    <td>@(counter++)</td>
                    <td style="white-space:nowrap">@item.DisplayName</td>
                    <td>@item.Amount.ToString("N2")&nbsp;@item.Currency</td>
                    <td>@item.DateDonated.ToShortDateString()</td>
                    <td>
                        @if (item.UserId.Equals(userId)) {
                            <span id="m@(item.DonationId)">@item.UserMessage</span>                           
                            @*
                            <a href="#" id="a@(item.DonationId)" onclick="Donations.openMessageDialog('@Url.Action("UserMessage", new { id = item.DonationId })');return false;">
                                @if (string.IsNullOrWhiteSpace(item.UserMessage)) {
                                    @Resources.Donations.Strings.YourComment
                                }
                                else {
                                    @Resources.Donations.Strings.EditYourComment
                                }
                            </a>
                            *@
                        }
                        else {
                            @item.UserMessage;
                        }
                    </td>
                </tr>
            }
        }
        else {
            <tr>
                <td colspan="5">@(ViewBag.DisplayMessage ?? Resources.Global.Strings.NoResultForCriteria)</td>
            </tr>
        }
    </tbody>
</table>