@model August2008.Models.RegisterUser

@Html.ValidationSummary()

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
     
    @Html.HiddenFor(m => m.UserId)
    <fieldset>
        <legend>Confirmation Form</legend>
        <div class="editor-label">
            @Html.LabelFor2(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor2(m => m.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.DisplayName)
        </div>
        <input type="submit" name="action" value="Confirm" />
        <input type="submit" name="action" value="Cancel" />
    </fieldset>
}
